.Menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 80px;
    -webkit-box-shadow: 2px 2px 5px #999;
}

.Menu__ul{
    display: flex;
}

.Menu__li{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
   /* border: 1px solid black;*/
}

.Menu__a{
    text-decoration: none;
    color: black;
}
.Menu__a:hover{
    color:#009bdb;
}

.Menu__a:before{
    content: "";
    position: absolute;
    width: 85px;
    top: 53px;
    border-bottom: 0 solid #009bdb;
    transition: .5s;
    opacity: 0;
}

.Menu__a:hover:before{
    border-bottom: 3px solid #009bdb;
    transition: .5s;
    opacity: 1;
}

.Menu__a-CS{
    text-decoration: none;
    padding: 10px;
    border: 2px solid #009bdb;
    border-radius: 50px;
    color: black;
    transition: .8s;

}

.Menu__a-CS:hover{
    background: #009bdb;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    transition: .8s;
}

.Menu__ul-2{
    position: absolute;
    background: #009bdb;
    top: 60px;
    padding: 10px 0;
    border-radius: 5px;
    transition: 0.8s;
    display: none;
}

.Menu__li:hover .Menu__li-2{
    display: flex;
    transition: 0.8s;
}

.Menu__li-2{
    list-style: none;
    padding: 5px 10px;
    width: 100%;
}

.Menu__a-2{
    text-decoration: none;
    color: white;
    transition: .8s;
    font-size: 14px;
}

.Menu__li-2:hover{
    background: #6bc5ef;
    transition: .8s;
}

.Menu__li-2:hover .Menu__a-2{
    transition: .8s;
    font-weight: bold;
}








