.Titulo__Registro{
    text-align: center;
    margin-top: 10px;
    color: #009bdb;
}

.RegistrarPaciente{
    display: flex;
    justify-content: center;
    margin: 10px 0 auto;
}
.Titulo__Paciente{
    color: white;
}
.PacienteTarjeta__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height:500px;
    background: #6bc5ef;
    margin-right: 20px;
    border-radius: 10px;
}

.formulario{
    margin: 0;
    height: 500px;
}


.Titulo__form{
    color: #6bc5ef;
    text-align: center;
}

.Menu__datos-ul{
    display: flex;

    border-radius: 10px;
    overflow: hidden;
    width: 600px;
    justify-content: center;
    border: 2px solid #6bc5ef;
}

.Menu__datos-li{
    list-style: none;
    width: 150px;
}

.Menu__datos-li:active{
    background: #6bc5ef;
}

.Menu__datos-li:active .Menu__datos-a{
    color: white;
}

.Menu__datos-a{
    text-decoration: none;
    display: block;
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    color: #6bc5ef;
}

.form{
    background: white;
    height: 416px;
    width: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border: 2px solid #6bc5ef;
}

.grupo__form{
    position: relative;
    margin: 30px;
}

.grupo__form .paciente__input{
    background: none;
    font-size: 15px;
    padding:8px 10px;
    display: block ;
    width: 100%;
    border: none;
    border-bottom: 2px solid #009bdb;
}

.paciente__input:focus{
    outline: none;
}

.paciente__label{
    color: #009bdb;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 5px;
    top: 10px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

.paciente__input:focus~.paciente__label,
.paciente__input:valid~.paciente__label{
    top: -14px;
    font-size: 12px;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}














