.RegistrarPaciente{
    display: flex;
    justify-content: center;align-items: center;
    margin: 10px auto;
}
.Titulo__Paciente{
    color: white;
}
.PacienteTarjeta__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height:500px;
    background: #6bc5ef;
    margin: 20px;
    border-radius: 10px;
}

.Titulo__form{
    color: #6bc5ef;
    text-align: center;
}

.Menu__datos-ul{
    display: flex;
    background: #009bdb;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 0 2px black;
}

.Menu__datos-li{
    list-style: none;
    width: 150px;
}

.Menu__datos-li:active{
   background: white;
}

.Menu__datos-a{
    text-decoration: none;
    display: block;
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    color: white;
}

.form{
    background: #009bdb;
    height: 380px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}









